// Build section

.build {
    border: 10px solid #59C5DD;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    .build-section-text {
        h2{
            font-size: $h2;
            font-weight: $semibold;
            margin-bottom: 30px;
        }
        p{
            font-size: $body-font;
            width: 65%;
            margin-bottom: 35px;

        }
        input {
            background: #FE9D8B;
            padding: 15px;
            font-weight: bold;
            font-size: 16px;
            border-radius: 50px;
            border: 1px solid #fe9d8b;
            color: #2C3B57;
            box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.08);
        }
    }
    .build-section-img{
        display: flex;
        align-items: center;
        .build-block{
            img{
                vertical-align: middle;
                border-style: none;
                max-width: 140px;
                min-height: 140px;
            }
        }
    }
}

// Learn section

.learn {
    border: 10px solid #CDD4D8;
    padding: 50px 10px;
    border-radius: 20px;
    .learn-section{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 60px;
        width: 90%;
        margin-left: 10px;
        .learn-text{
            flex-basis: 80%;
            h2{
                font-size: $h2;
                font-weight: $semibold;
                margin-bottom: 30px;
            }
            p{
                font-size: $body-font;
                margin-bottom: 35px;
    
            }
        }
        .learn-img{
            display: flex;
            align-items: flex-end;
            img{

            }
        }
    }
    .learn-list{
        width: 90%;
        .list a{
            display: flex;
            justify-content: space-around;
            margin-top: 60px;
            margin-left: 32px;
            color: #404a64;
            &:hover{
                text-decoration: none;
                color: #404a64;
            }
            .list-text{
                flex-basis: 85%;
                h4{
                    font-size: $h4;
                    font-weight: $bold;
                    width: 90%;
                }
            }
            .list-icon{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                img{
                    vertical-align: top;
                    transition: all ease-in-out 0.2s;
                    &:hover{
                        transform: scale(1.08);
                    }
                }
            }
        } 
    }
}

// What is Fantom

.introduction {
    width: 67%;
    h4{
        font-size: $h4;
        font-weight: $semibold;
    }
    div{
        font-size: $body-font;
        font-weight: $regular;
        margin: 30px 0;
        white-space: pre-line;
        span{
            font-weight: $bold;
        }
    }
}
@media (max-width: 1199px){
    .learn{
        .learn-list{
            .list a{
                margin-top: 40px;
                .list-text{
                    h4 {
                        font-size: 20px !important;
                    }
                }
                .list-icon{
                    img{
                        max-width: 50px;
                    }
                } 
            }
        }
    } 
}
@media (max-width: 769px){
    .build {
        border: 10px solid #59C5DD;
        padding: 25px;
        border-radius: 20px;
        display: flex;
        .build-section-text p {
            width: 95%;
        }
        .build-section-img{
            display: block !important;
            .build-block img {
                vertical-align: top;
                max-width: 70px !important;
                min-height: 70px !important;
            }
        } 
    }
    .learn .learn-section {
        width: 95%;
    }
}
@media (max-width: 480px){
    .build {
        padding: 20px;
        border: 5px solid #59C5DD;
        .build-section-text{
            p{
                width: 100%;
            }
        }
    }
    .learn{
        border: 5px solid;
        .learn-section{
            margin-bottom: 30px;
        }
        .learn-list{
            .list a{
            margin-top: 20px;
                .list-text{
                    h4 {
                        font-size: 15px !important;
                    }
                }
                .list-icon{
                    img{
                        max-width: 40px;
                    }
                }
            }
        }
    } 
}