.slick-prev:before, .slick-next:before {
    color: #09529b !important;
    content: url('/images/home/article-arrow.svg')
  }

  .slick-prev:before {
    color: #09529b !important;
    content: url('/images/home/Path.svg')
  }

.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -20px;
    width: 20px;
    left: 55%;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #5d535300;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -20px;
    width: 20px;
    left: 50%;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #5d535300;
    border: none;
    outline: none;
    background: transparent;
}


.update-section {
    .main-update {
       .update-form {
           position: relative;
       }
    }
}

.update-form:before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100%;
    background: url('/images/home/accent-down.svg');
    left: -15%;
    top: 110%;
    background-repeat: no-repeat
  }

  .update-form:after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100%;
    background: url('/images/home/accent-up.svg');
    bottom: 100px;
    left: 115%;
    background-repeat: no-repeat
  }


// Media query

@media (max-width: 769px){
  h1{
    font-size: 54px !important;
  }
  h2{
    font-size: 42px !important;
  }
  h4{
    font-size: 28px !important;
  }
  p{
    font-size: 18px !important; 
  }
}
@media (max-width: 1199px){
.header .container .main-nav a {
  padding: 10px 20px;
}
.hero-section .container h1 {
  font-size: 80px !important;
}
}
@media (max-width: 991px){
  .hero-section .container h1{
    width: 100% !important;
  }
}