// color palettes

$primary-blue: #426ED5;
$font-color: #404a64;
$button-bg: #FF573B;
$primary-white: #FFFFFF;
$light-grey: #FBFBFC;
$card-bg-1: #FE9D8B;
$card-bg-2: #59C5DD;
$card-bg-3: #CDD4D8;
$card-footer-1: #FFF666;
$card-footer-2: #FCD3FF;
$card-footer-3: #EAF598;

// font weights
$regular: 400;
$semibold: 600;
$bold: 700;

$base-font-size: 16px;
$font-md: 28px;
$font-sm: 14px;
$font-xs: 12px;
$body-font: 21px;
$link-font: 18px;



$h1: 90px !default;
$h2: 64px !default;
$h3: 48px !default;
$h4: 30px !default;
$h5: $font-md !default;
$h6: $font-sm !default;
