footer{
    min-height: 660px;
    background-color: #426ed5;
    .footer-section {
        color: #fff;
        .footer-inner-container-mobile{
            display: none;
        }
        .container.footer-inner-container {
            padding: 60px 0;
            max-width: 1240px;
            .footer-fantom-icon {
                display: inline-block;
                width: 32%;
                ul{
                    li {
                        list-style-type:none;
                        padding-bottom: 75px;
                        img{
                            max-width: 250px;
                            min-height: 60px;
                        }
                        span{
                            padding: 10px;
                            padding-right: 15px;
                            a{
                                img{
                                    width: 30px;
                                }
                            }
                        }
                    }
                }
            }
            .footer-link {
                display: inline-block;
                width: 68%;
                .footer-first-col {
                    display: inline-block;
                    width: 50%;
                    ul{
                        li{
                            list-style-type:none;
                            padding: 30px 50px;
                            font-size: 25px;
                            
                            a{
                                color: #fff;
                                text-decoration: none;
                                &:hover{
                                    color: #efefef !important;
                                    text-decoration: none;

                                }
                            }
                        }
                    }
                }
            }
            .footer-small-section {
                color: #C9C9C9;
                margin-left: 50px;
                .footer-left{
                    width: 37%;
                }
                .footer-right{
                    width: 46%;
                    text-align: right;
                    p{
                        width: 30%;
                    }
                }
                div {
                    display: inline-block;
                    p{
                        font-size: 18px;
                        display: inline-block;
                        a{
                            color: #C9C9C9;
                            text-decoration: none;
                            a:hover {
                                color: #C9C9C9;
                            text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.careers-link-hide {
    opacity: 0; 
    a{
        cursor: default;
    }
}

@media (max-width: 769px) {
    .footer-inner-container{
        display: none;
    }
    .footer-inner-container-mobile{
        display: block !important;
        padding: 60px 0;
        margin-bottom: 0px !important;
        .footer-first-col{
            .footer-link{
                margin-top: 43px;
                a{
                    font-size: 22px;
                    font-weight: 600;
                    color: #fff;
                    text-decoration: none;
                }
                span{
                    margin-right: 33px;
                }
            }
            .footer-link.footer-link-light, .footer-link.footer-link-light a {
                color: #e0e0e0;
                font-weight: 400;
            }
        }
    }
}