footer{
    background-color: #426ed5;
    .footer-section {
        color: #fff;
        .footer-inner-container-mobile{
            display: none;
        }
        .container {
            padding: 100px 0 120px 0;
         .first-section {
            display: flex;
            .col{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: "Work Sans";
                font-size: 32px;
                font-weight: 600;
                padding: 0;
                .footer-logo{
                    a{
                        img{
                            width: 251px;
                        }
                    }
                }
                div{
                    margin-bottom: 52px;
                    span{
                        margin-right: 20px;
                        img{
                            max-width: 30px;
                        }
                    }
                    a{
                        color: #fff;
                    }
                }     
                }
                .col.third-col{
                    max-width: 300px;
                }
            }
            .second-section {
                display: flex;
                justify-content: space-between;
                div{
                    display: flex;
                    flex-grow: 1;
                    padding: auto 15px;
                }
                div, div a{
                    color: #c9c9c9;
                    font-size: 18px;
                    font-family: "Work Sans";
                }
                .privacy-policy{
                    max-width: 300px;
                }
            }
        }
    }
}

@media (max-width: 991px){
    footer{
        .footer-section {
            .container {
                padding: 80px 0 100px 0;
                max-width: 800px;
             .first-section {
                .col{
                    font-size: 28px;
                    .footer-logo{
                        a{
                            img{
                                width: 200px;
                            }
                        }
                    }
                    div{
                        margin-bottom: 52px;
                        span{
                            margin-right: 15px;
                            img{
                                max-width: 25px;
                            }
                        }
                    }     
                    }
                }
            }
        }
    }
}
@media (max-width: 769px) {
    .footer-section {
        .container {
            padding-top: 0px !important;
        }
    }
    .footer-inner-container{
        display: none;
    }
    .footer-inner-container-mobile{
        display: block !important;
        padding: 60px 0;
        margin-bottom: 0px !important;
        .footer-first-col{
            padding-left: 50px;
            .footer-link{
                margin-top: 43px;
                a{
                    font-size: 22px;
                    font-weight: 600;
                    color: #fff;
                    text-decoration: none;
                }
                span{
                    margin-right: 33px;
                }
            }
            .footer-link.footer-link-light, .footer-link.footer-link-light a {
                color: #e0e0e0;
                font-weight: 400;
            }
        }
    }
}
@media (max-width: 419px){
    .footer-inner-container-mobile{
        .footer-first-col{
            .footer-link{
                margin-top: 43px;
                span{
                    margin-right: 20px;
                    a{
                        img{
                            max-width: 24px;
                        }
                    }
                }
            }   
        }
    }  
}